In [1]:
import pandas as pd
from datetime import timedelta
import os
from file_utils import load_csv, save_csv, get_csv_path

## Loading basic name for dicionary and data df frames

In [2]:
filename = "xl_ada"
#xl_ubu
dt_ada = load_csv(filename)

dt_ada

Loading from: /home/bhuns/JL_1/xl_ada.csv

         ada
0  mstr_data

In [4]:
filename = "xl_ubu"

dt_ubu = load_csv(filename)

dt_ubu

Loading from: /home/bhuns/JL_1/xl_ubu.csv

   ubu  Long#Name
0   WT        NaN
1  TBW        NaN

In [12]:
dt_ubu.iloc[0,1]

np.float64(nan)

In [20]:
dt_ubu.iloc[0,1] ="Weight"
dt_ubu

   ubu Long#Name
0   WT    Weight
1  TBW       NaN

In [11]:
dt_ada.iloc[0,0]

'mstr_data'

In [22]:
save_csv(dt_ubu,xl_ubu.csv)

NameError: name 'xl_ubu' is not defined