from pathlib import Path
import pandas as pd
import os

def load_dataframes_from_folder(folder_path, extension=".csv", encoding="utf-8", use_full_path=False):
    """
    Recursively loads all files with the given extension from a folder into pandas DataFrames.

    Args:
        folder_path (str): Windows-style path to the folder.
        extension (str): File extension to search for (e.g., ".csv", ".txt").
        encoding (str): Encoding used to read the files.
        use_full_path (bool): If True, keys will be full paths; otherwise, just filenames.

    Returns:
        dict: Dictionary of DataFrames keyed by filename or full path.
    """
    # Convert Windows path to WSL format if needed
    if os.name != "nt":  # If running in WSL/Linux
        folder_path = folder_path.replace("\\", "/")
        if folder_path.startswith("/mnt/") is False:
            drive_letter = folder_path[0].lower()
            folder_path = f"/mnt/{drive_letter}{folder_path[2:]}"
    
    folder = Path(folder_path)

    # Recursively find all matching files
    files = list(folder.rglob(f"*{extension}"))

    if not files:
        print(f"⚠️ No files with extension '{extension}' found in {folder_path}")
        return {}

    # Load each file into a DataFrame
    dataframes = {}
    for file in files:
        try:
            df = pd.read_csv(file, encoding=encoding) if extension == ".csv" else pd.read_table(file, encoding=encoding)
            key = str(file) if use_full_path else file.name
            dataframes[key] = df
        except Exception as e:
            print(f"❌ Failed to load {file}: {e}")

    return dataframes

In [31]:
from sys_funcs import load_dataframes_from_folder

folder = "C:\\Users\\bhuns\\OneDrive\\Documents\\Evernote\\73349577\\external-edits"
dfs = load_dataframes_from_folder(folder, extension=".csv")

In [20]:
folder = "C:\\Users\\bhuns\\OneDrive\\Documents\\Evernote\\73349577\\external-edits"
dfs = load_dataframes_from_folder(folder, extension=".csv")

In [ ]:
dfs['506352275 2025.10.06 04.58.44-2025.10.06 08.27.15.csv']

In [ ]:
dfs

In [38]:
def add_serial_to_dfs(dfs):
    """
    Adds a serial number to each entry in a dictionary of DataFrames.

    Args:
        dfs_dict (dict): Dictionary with keys as filenames and values as DataFrames.

    Returns:
        dict: Dictionary with keys as filenames and values as dicts containing:
              - 'name': original filename
              - 'df': the DataFrame
              - 'serial': computed index
    """
    enriched = {}
    for i, (name, df) in enumerate(dfs.items()):
        enriched[name] = {
            "name": name,
            "df": df,
            "serial": i
        }
    return enriched

In [44]:
dfs_enriched = add_serial_to_dfs(dfs)

In [45]:
df2 = next(d["df"] for d in dfs_enriched.values() if d["serial"] == 2)

In [41]:
df2

            Date      Time  SpO2 (%)  PR (BPM)  PAI (%)
0     10/10/2025  16:44:27      95.0      62.0     2.05
1     10/10/2025  16:44:28      96.0      61.0     2.01
2     10/10/2025  16:44:29      96.0      58.0     2.32
3     10/10/2025  16:44:30      96.0      58.0     2.42
4     10/10/2025  16:44:31      96.0      58.0     2.89
...          ...       ...       ...       ...      ...
6514  10/10/2025  18:46:08      93.0      68.0     0.26
6515  10/10/2025  18:46:10      93.0      68.0     0.26
6516  10/10/2025  18:46:11      93.0      68.0     0.26
6517  10/10/2025  18:46:12      93.0      68.0     0.26
6518  10/10/2025  18:46:13      93.0      68.0     0.27

[6519 rows x 5 columns]

In [46]:
dfs_enriched["dfs_enriched"]["df"]

KeyError: 'dfs_enriched'

In [33]:
#dfs = load_dataframes_from_folder(folder_path, extension=".csv")
dfs_enriched = add_serial_to_dfs(dfs)

# Access by filename
#dfs_enriched["data1.csv"]["df"]

# Access by serial
#df2 = next(d["df"] for d in dfs_enriched.values() if d["serial"] == 2)

In [47]:
 df2 = next(d["df"] for d in dfs_enriched.values() if d["serial"] == 2)

In [48]:
df2

            Date      Time  SpO2 (%)  PR (BPM)  PAI (%)
0     10/10/2025  16:44:27      95.0      62.0     2.05
1     10/10/2025  16:44:28      96.0      61.0     2.01
2     10/10/2025  16:44:29      96.0      58.0     2.32
3     10/10/2025  16:44:30      96.0      58.0     2.42
4     10/10/2025  16:44:31      96.0      58.0     2.89
...          ...       ...       ...       ...      ...
6514  10/10/2025  18:46:08      93.0      68.0     0.26
6515  10/10/2025  18:46:10      93.0      68.0     0.26
6516  10/10/2025  18:46:11      93.0      68.0     0.26
6517  10/10/2025  18:46:12      93.0      68.0     0.26
6518  10/10/2025  18:46:13      93.0      68.0     0.27

[6519 rows x 5 columns]

In [49]:
# Find the entry with serial == 2
entry = next(d for d in dfs_enriched.values() if d["serial"] == 2)

# Get the name
name_of_df2 = entry["name"]
print(name_of_df2)

506352275 2025.10.10 16.44.27-2025.10.10 18.46.13.csv

In [50]:
dfs["506352275 2025.10.10 16.44.27-2025.10.10 18.46.13.csv"]

            Date      Time  SpO2 (%)  PR (BPM)  PAI (%)
0     10/10/2025  16:44:27      95.0      62.0     2.05
1     10/10/2025  16:44:28      96.0      61.0     2.01
2     10/10/2025  16:44:29      96.0      58.0     2.32
3     10/10/2025  16:44:30      96.0      58.0     2.42
4     10/10/2025  16:44:31      96.0      58.0     2.89
...          ...       ...       ...       ...      ...
6514  10/10/2025  18:46:08      93.0      68.0     0.26
6515  10/10/2025  18:46:10      93.0      68.0     0.26
6516  10/10/2025  18:46:11      93.0      68.0     0.26
6517  10/10/2025  18:46:12      93.0      68.0     0.26
6518  10/10/2025  18:46:13      93.0      68.0     0.27

[6519 rows x 5 columns]