In [1]:
############## DEF FUNCTIONS SAVED AS A PY MODULE ##################
import pandas as pd
from openpyxl import load_workbook, Workbook
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.utils import get_column_letter
def bld_base_name_fmly(base_name):
    df = "df_" + base_name
    xl_file = str( "xl_" + base_name +".xlxs")
    wb = "xl_" + base_name
    ws = "xl_" + base_name
    tbl = "xl_" + base_name
    xl_file = "xl_tbl.xlsx"  # make sure the filename extension is correct
    return df,xl_file,wb,ws,tbl

In [2]:
df,xl_file,wb,ws,tbl= bld_base_name_fmly("tbl")   # this runs  base_name = "tbl"
print(df,xl_file,wb,ws,tbl)                       # names of base_name family of variables

df_tbl xl_tbl.xlsx xl_tbl xl_tbl xl_tbl

In [3]:
print(xl_file)
dfx = pd.read_excel(xl_file)  # or the exact name of your sheet  , sheet_name=ws
#print(dfx)

xl_tbl.xlsx

In [8]:
df_tbl = dfx
print(df_tbl.iloc[:, [0, 3, 4, 5]])

     date_value  7. TBW (Total Body Water)   ICW   ECW
0         45380                      133.2  79.6  53.6
1         45381                      131.4  78.7  52.7
2         45382                      132.3  79.4  52.9
3         45383                      129.4  77.8  51.6
4         45384                      132.5  79.6  52.9
..          ...                        ...   ...   ...
462       45854                      132.7  78.3  54.5
463       45855                      131.6  77.8  53.8
464       45856                      129.6  76.7  52.9
465       45857                      133.6  79.1  54.5
466       45858                      132.5  78.3  54.2

[467 rows x 4 columns]

# the cells above need to be merge to 1def function(base_name)

In [ ]:
import pandas as pd

xl_file = "xl_tbl.xlsx"  # make sure the filename extension is correct
#df_tbl = pd.read_excel(xl_file)
df_tbl = pd.read_excel(xl_file, sheet_name=ws)  # or the exact name of your sheet

In [ ]:
print(df_tbl.iloc[0,2])

In [ ]:
df_tbl.iloc[0,2] = 260

In [ ]:
print(df_tbl.iloc[0,2])

In [ ]:
name = dt
value = 42  # your computed value

dynamic_vars = {}
dynamic_vars[name] = value

# Access it later:
print(dynamic_vars["button"])  # prints: 42
#print(dynamic_vars(name))  # prints: 42

In [ ]:
name = "button"
value = 42  # your computed value

dynamic_vars = {}
dynamic_vars[name] = value

# Access it later:
print(dynamic_vars["button"])  # prints: 42
#print(dynamic_vars(name))  # prints: 42

In [ ]:
df_tbl.to_excel(xl_file, index=False)