# Loading mrn_mstr_dict

## Step 1 Load imports

In [1]:
import pandas as pd
from datetime import timedelta

## Step 2 Read filename.csv and get col names

In [7]:
# def imprt_csl)filename) assumes in repo : reads csi file and creates df of the array using the file name ; it also creates a of the col heads in filename_heads
Load the CSV file to use df(file_path)  to get clmn_nn [nickname]
file_path = "mrn_mstr_8_04.csv"    # name of the mrn_mstr file
############################################################################
df = pd.read_csv(file_path)
clmn_nn= pd.DataFrame(df.columns)
# clmn_nn

                             0
0                            *
1                     770Drow#
2                    bNght_Mrn
3                     <bMrnLst
4                     Column36
..                         ...
95   120. Mean Artery Pressure
96         121. Pulse Pressure
97  122. Rate Pressure Product
98               123. ICW/LBM%
99                    124. SMI

[100 rows x 1 columns]

In [7]:
   # Load the CSV file to use df(file_path)  to get clmn_nn [nickname]
file_path = "mrn_mstr_8_04.csv"    # name of the mrn_mstr file
############################################################################
df = pd.read_csv(file_path)
clmn_nn= pd.DataFrame(df.columns)
clmn_nn

                             0
0                            *
1                     770Drow#
2                    bNght_Mrn
3                     <bMrnLst
4                     Column36
..                         ...
95   120. Mean Artery Pressure
96         121. Pulse Pressure
97  122. Rate Pressure Product
98               123. ICW/LBM%
99                    124. SMI

[100 rows x 1 columns]

### Proving file is read into df

In [26]:
# get the names of the first 30 cols
clmn_nn.iloc[:30]

                                 0
0                                *
1                         770Drow#
2                        bNght_Mrn
3                         <bMrnLst
4                         Column36
5                         Column34
6                         Column35
7                         <sMrnLst
8                           23-Feb
9                           DATE_V
10                               0
11                       6. Weight
12       7. TBW (Total Body Water)
13    8. ICW (Intracellular Water)
14    9. ECW (Extracellular Water)
15         10. DLM (Dry Lean Mass)
16         11. BFM (Body Fat Mass)
17        12. LBM (Lean Body Mass)
18  13. SMM (Skeletal Muscle Mass)
19       14. BMI (Body Mass Index)
20      15. PBF (Percent Body Fat)
21                     42. ECW/TBW
22        43. ECW/TBW of Right Arm
23         44. ECW/TBW of Left Arm
24               45. ECW/TBW Trunk
25        46. ECW/TBW of Right Leg
26         47. ECW/TBW of Left Leg
27            48. BFM of Right Arm
28           49. BFM% of Right Arm
29             50. BFM of Left Arm

In [8]:
# Get the name of the 24th column
nn = clmn_nn.iloc[24]
nn

0    45. ECW/TBW Trunk
Name: 24, dtype: object

In [24]:
# show a col with index col 24 of df [the array from the file made into a data frame]
df.iloc[:,24]                 # col 24 of df

0       0.387
1       0.387
2       0.385
3       0.387
4       0.388
        ...
1433    0.409
1434      NaN
1435      NaN
1436      NaN
1437      NaN
Name: 45. ECW/TBW Trunk, Length: 1438, dtype: float64

In [25]:
# Show creating a variable from cols example DATE_V
DATE_V = df.loc[:,"DATE_V"]
DATE_V

0       43893
1       43899
2       43890
3       43931
4       43932
        ...
1433    45873
1434      NaN
1435      NaN
1436      NaN
1437      NaN
Name: DATE_V, Length: 1438, dtype: object

In [21]:
# Create a list if the index of a df
df_ind = df.index
df_ind[10]

10

## df_ind (shld be df_ndx)  >> Function to Find Index by Column and String

#### copilot pattern = df_ind  Function to Find Index by Column and String

##### Also look at query to find matches

#### copilot pattern = def >> df_ind  Function to Find Index by Column and String
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

### call df_ind function
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'
idx = find_index_by_value(df_nms, "dn", "beta")
print("✅ Matching index:", idx)

### call df_ind function 
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'

#idx = find_index_by_value(df_nms, "dn", "beta")

print("✅ Matching index:", idx)

### applied version = df_ind  Function to Find Index by Column and String

#### applied version >> def find_index_by_value(df, col_name, target_str)

In [35]:
#### applied version >> call find_index_by_value(df, col_name, target_str)
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

#### applied version >> call  >>  find_index_by_value(df, col_name, target_str): use assignment list

In [37]:
#### call >> find_index_by_value(df, col_name, target_str) >> use assignment list to avoid confusion
df = df_nms                      
col_name = "dn"
target_str = "beta"
# Find index where 'dn' == 'beta'
idx = find_index_by_value(df, col_name, target_str)
print("✅ Matching index:", idx)

✅ Matching index: [102]