***Load imports of extensions***

In [ ]:
# Load imports of extensions
import pandas as pd
from datetime import timedelta
import os
import numpy as np
import inspect

# <br><br> to skip 2 lines

# 1.1 Data Storage Sys using .csv in XL Discription

## 2.1 Nomentclature with Descriptions

### 3.1 DATE_V +

1. ***"df_dtv_snb"*** is the list for all dates over the entire ***dvt*** range for a single r ***snb***.
8. The *dataframe* that holds all of the ***snb***s is ***"df_dtv_all_snb"***
9. All data is stored ***.csv files*** in excell and the filename is prefixed with **xl_** for e***x***ce***l*** = is ***"xl_dtv_all_snb.csv"***
6. A ***"df_dtv_snb"*** can be extracted from ***"df_dtv_all_snb"*** using the ***"extrct_fnct"***

### 3.2 Defining ***data storage in .csv*** and  ***Nomenclature***

1. Defining ***data storage in .csv***
2. ***dtv*** is the ***d***a***t***e ***v***alue of the data entry; it is an integer count of the number of days since 1/1/1900. Last ***dtv*** is ***today*** and it is kept  current at ***startup*** with the ***imports***.
3. ***dtv*** is stored and kept current in ***df_dtv***  &  ***xl_dtv.csv*** 
2. ***ubn*** is the ***u***nique ***b***asic ***n***ame for the **data col proberties list** class of data cols.
3. ***ubn*** has attirbutes like name & length and methods like making 
4. attribute1: ***a daily data log array**
5. Each data col is given a serial number ***snb***
6. Each ***snb*** is a member of the ubn(snb) class.
7. ***snb*** becomes the data **col name**.
8. ***ubn*** acts very much like a specialized class()
9.  **snb*** being an object that belongs to that class()
13. The whole array of all data cols are stored in the ***df_dtv_all_snb*** and stored in the ***xl_dtv_all_snb.csv*** file.
14. The ***ubn***   **name** is stored along with the ***snc*** in the ***df_snb_md**  [***xl_snb_md.csv***] along with the ***list name*** of ***sng***s that use this  ***snb***.

### 3.3 Serial numbers for ubn, cvs, grp

1. ***ubn*** is the ***u***nifying ***b***asicdatacol ***n***ame that stands for class of data col vs dtv where the serial number  ***snb*** is the name for an single individual data col.
2.  ***_snb*** is a serial number ***snb*** relates 1 for 1 to the ***ubn*** .(it has the form of (***b000***)
6.  It is stored in the index col1 of a ***df_snb_md*** [***md*** stands for ***m***edia***d***ata]. This df contains more cols that include other media data unique to ***snb*** 
3. ***_snc*** is a serial number that stands for a **class name** (it has the form of a **c000** )
4. ***ubn = df_snb_md.loc["snb","1"]***
5. ***cls_nm=df_snb_md.loc["snc","2"]***
6. ***_sng*** is a serial number for an  individual ***grp_nm*** (it has the form of a **g000** )
7. ***grp_nm = df_snb_md.loc["sng","3"]**
8.  The serial numbers are created at the time the ***snb*** is first entered into the system as part ***init_snb*** process*.

### 3.6 The ***"df_dtf_wrk_snb"*** is a Temporary Dataframe for a Process

1. This **df** is called ****df_dtf_wrk_snb***  ..... *# it is a temporary df in that is used for a single process and then abandoned when processing is completed*
11.  The ***"df_dtf_wrk_snb"*** is a ***df*** consisting f a ***"dtv"*** index and the first ***snb*** in the ***snb_grp_lst*** 
12. Then it goes through the list and appends that ***snb*** data col

### 3.7 Creating and using grps

#### 4.1 Creating groups

 ________________ Creating and using grps __________________________________________
1. Every ***data_col*** is a *list of data* with a name (***ubn***) and a serial number(***snb***). For simplicity and uniqueness ***ubn*** s are tracked with ***snb***s.
2. Much of the *data entry* and *processing* involve only a group of a few ***snb***
3. There are many processes and groups and they are tracked by serial numbers ***sng***s.
4. A df named ***df_full_sng_snb'*** records which ***snb*** will be include in each ***sng***(serial number group)
1. Since ***snb*** can be found in more than one group, we need create an array with all ***sng***s as **row**s and all ***snb***s as **col**s.
14. The dataframe made from this array is ***df_full_sng_snb'***
15. When created the ***df_full_sng_snb'***, has all values of **NAN** and then any array_item that is in the ***snb*** column and in the ***sng*** row with a **true**
1. The grp adjustments are only required when ***data type or process*** changes
1. To place an ***snb*** into a ***sng*** , individually set ***df_grp_sng.loc***[***"sng"***,***"snb"***] = **true**(or False to remove it)

#### 4.2 Using grps

1.  Each time a process is initiated, it needs to build a ***df*** to hold all the required ***snb*** cols of data.
11. That required group of ***snb*** data cols needed for the task is read from***df_full_sng_snb'***. ....    *# array with all sng and snb combinationss*
12. ***sng_grp_lst*** = ***sng_grp_lst_mkr(sng):*** ,,,,, *# this is a functon decribed on next line*
1. def ***sng_grp_lst_mkr(sng)*** ;loop ***df_all_grp_snb[sng,:]*** [go to row ***sng***] then loop through all ***snb*** and amend  ***snb*** if the array iten is marked **true** for this ***sng*** row then return ***snb_grp_lst*** for that ***sng***.

### 3.9 Abbreviations

***ubn***  ==    unifying basicdatacol name for single data type[1 data type col].

***cls***    == a list of ***attrbts***, ***mthds*** and  that are part of a common process.

***grp***    == a list of ***ubn*** that are part of a common process.

***snc***  ==    unique serial number assgned to every ***cls***

***dtv***   ==   DATE_V _____ the index col in all log dataframes.

***df_snb_ubn*** == lookup table for name from serial number ***snb***

***"dtv_snb"***  ==  A dataframe for a single data col with snb as the coluumn head

***dtv_all_snb***     ==  A dataframe for all_types_data cols with snb as the coluumn head

***df_wrk_ubn*** ==  Group of ***df_dtv_ubn*** extracted to use in processing _____

***Serial numbers----------------------------------------------------------***

***"sng"***  == the serial number of a group that holds the list of  ***snb's*** chosen for this process *[unique serial number assgned to every ***grp***]* but *[1 ***snb*** *can be  in many groups]*

***_snb***   ==    unifying basicdatacol name serial number that is assigned when a new ***ubn*** is assind

***_snc***   ==  is the serial number of a given class. The snc will be applied to many ***bnr*** but is unique for each class name and is calculated on the basis of parenting level: grandfather 1 and grand child is 5. Each ***ubn*** will be assigned an appropriate snc when is initiated.

## 2.2 Asset List

***Utilities --------------------------***

***df_dtv***  ==   **df of only a complete up to date dtv**

***df_files***   ==   **df of list of all .csv files**

***xl_files.csv***   ==   **file of list of all .csv files**

***init loading of structure ------------------***

***df_snb*** == **df with ***snb*** indexed and cols for ***snc***, ***sng*** & other media.

***df_dtv***  ==   **df of only a complete up to date dtv**

***xl_dtv.csv***  ==   **file of only a complete up to date dtv**

***df_snb***  ==  given   ***snb*** lookup ***snb***__ *index is ***snb***,_  ***snc***,_ ***sng*** __[col0 ***snb***,_col1  and _col2 ***snc*** and  _col3 ***sng***  *_[group list [1 snr may be in mltpl sng]*

***ubn[snb]*** = *df_snb_md.iloc*["***snb"***,"***ubn***"]  [find name from serial number]

***xl_df_snb.csv***  ==  given   ***snb*** lookup ***ubn***__ * ubn*,_  ***snc***,_ ***sng*** __[col0 ***snb***,_col1  and _col2 ***snc*** and  _col3 ***sng***  *_[group list [1 snr may be in mltpl sng]*
***Use*** == find the name ***ubn*** from ***snb***

***xl_ubn_cls.csv*** ==   **file of lookup "cls"[name] for a "snb" : cols "snb" [index] & col2 "snc"**
***df_dtv_snb***   ==   **df of single data col "snb"**
***xl_dtv_snb***   ==   **xl of single data col "snb"**

***xl_dtv_all_snbn.csv*** 



***xl_all_grp_snbn.csv***._____

## 2.4 Processes

### 3.1 Step by Step Process to perform processing on one or more data lists

### 3.2 Load data from an ***xl_dtv_ubn_all.csv*** file to a ***df_dtv_ubn_all*** dataframe in python worksheet

1. load arrays from xl to dfs in a workbook

### 3.3Extract a ***df_wrk_ubn*** datframe fro specific cols from ***df_dtv_all_ubn***

1. create new **df_wrk_ubn*** with ***dtv***.
2. for ***snb*** in ***grp_gn***.
3. use the ***extrct_fnct*** to copy ***"dtv_ubn_snb"*** from ***dtv_all_ubn*** and
4. amend it to ***df_wrk_ubn***

### 3.4 Make a list of planned columneupdates to ***df_wrk_ubn*** with any process

### 3.5 select a ***grp_gn*** that contains of the ***dtv_ubn*** that you need to update ***grp_gn*** make Modifications to ***df_wrk_ubn***

15. To start a process build the  LOOP-----------------------
15. A list of ***grp_gn*** that will be specified in cycle ***grp_gn*** loop.
16. Then start the loop specifying each of the

### 3.6 Update   ***df_dtv_all_ubn***  from ***df_wrk_ubn***

15. After processing is completed on the ***df_wrk_ubn*** , the ***updt_funct*** is used to transfer the updates from the ***df_wrk_ubn*** to the ***df_dtv_all_ubn*** 
16. ------------------ LOOP END -------------------------------
17. This extraction, processing, and updating is repeated for every group apecified.

### 3.5 def Convert a df_colunn to a numby array with a name as & perform addition

In [ ]:
# Example: convert a specific column to NumPy array when needed
# when assigning a name to the array that is different from the col head name
test_list1 = df_dtv_all_snb["b006"].to_numpy()  # these are numpy arrays of one snb
test_list2 = df_dtv_all_snb["b007"].to_numpy()
print(type(test_list2[0]))
print(test_list2.shape)

#test_list1 + test_list2

In [ ]:
# copilots version 
# Function Definition to extract a df col to np array
def extract_column_as_array(df, col_name, globals_dict=None):
    """
    Extracts a column from a DataFrame and assigns it as a NumPy array
    to a variable named after the column header.

    Parameters:
    - df: pandas.DataFrame
    - col_name: str, name of the column to extract
    - globals_dict: dict, typically pass globals() to assign in global scope

    Returns:
    - np.ndarray of the column data
    """
    arr = np.array(df[col_name].tolist())
    if globals_dict is not None:
        globals_dict[col_name] = arr
    return arr

In [ ]:
#df_dtv_all_snb_hdr

In [ ]:
# Function Definition
df = df_dtv_all_snb_hdr  #version with names as hdrs
col_name = "ICW"
col_name = extract_column_as_array(df, col_name) # gives name of col head to array automatically
#col_name        # note array name is the col_name

#### 4.1 The snb use of classes

1. Each ***snb*** will have 1 or more classes.
2. Each individual class is given a serial number ***snc***
3. The **cls_nm** will **attribute:1** of the ***snc***
4. Each ***snc*** is shared by many ***snb***s
5. Each ***snn*** is shared by many ***snc***s
6. A **df** named ***"df_snb_snc"*** is used to specify the pairing.
7. ***"df_snb_snc"*** is a **df** that has ***snb*** for rows and ***snc*** for cols.
8. ***"df_snb_snc"*** will have all **items** set to NAN to start.
9. **True** is inserted in ***items*** at a ***snb,snc*** intersection]
10. Then every time an ***snb*** row has a **true** in it that indicates col head ***snc** is used by that ***bnc***
11. ***snc.name*** is used to retrieve the ***snc name*** [1st attrbt of each ***snc***]
12. ***df_snb,snc*** is stored in a file ***"xl_snb,snc.csv"***
13. The class **c**lass **a**ttributes and **m**ethods (***cam***s)  are defined by a ***df_cam_smc*** and filed in ***xl_cam_smc.csv***
14. The **c**lass **a**ttributes and **m**ethods (***cam***s) are stored in rows while ***snc*** are the column heads.
15. To assugn a class to

# 1.2 def functions

##  2.1 import/export to csv storage

### 3.1 xl to df   IMPORT FROM XL and convert to df  "tested"

#### 4.1 get df_dtv_all_snb from "xl_dtv_all_snb.csv"

In [69]:
#### get df_dtv_all_snb from "xl_dtv_all_snb.csv"
filepath = "xl_dtv_all_snb.csv"             # this is version with snb for headers
df_dtv_all_snb = load_csv_to_df(filepath, index_col=None)
df_dtv_all_snb.loc[2:,"b005"]

2      52.9
3      51.6
4      52.9
5      54.0
6      54.5
       ...
462    54.5
463    53.8
464    52.9
465    54.5
466    54.2
Name: b005, Length: 465, dtype: float64

### 3.2 df to np_array  Tested

#### 4.1 Converts a DataFrame to a NumPy array with optional header inclusion and diagnostics.

In [70]:
def df_to_np_array(df, include_headers=False, dtype=None, logger=print):
"""
 # def Converts a DataFrame to a NumPy array with optional header inclusion and diagnostics.

    Parameters:
    - df (pd.DataFrame): The DataFrame to convert.
    - include_headers (bool): Whether to include column headers as the first row.
    - dtype (type or str, optional): Desired NumPy dtype (e.g., float, str).
    - logger (callable): Logging function (e.g., print or custom logger).

    Returns:
    - np.ndarray: The resulting NumPy array.

    Caller assign name
""" 
    try:
        np_array = df.to_numpy(dtype=dtype) if dtype else df.to_numpy()
        logger(f"[CONVERT] DataFrame shape: {df.shape}, dtype: {np_array.dtype}")

        if include_headers:
            headers = df.columns.to_numpy()
            combined = np.vstack([headers, np_array.astype(str)])
            logger(f"[INCLUDE_HEADERS] Headers added as first row.")
            return combined
        else:
            return np_array

    except Exception as e:
        logger(f"[ERROR] Failed to convert DataFrame to np_arra: {e}")
        raise

#### 4.2 test  df_to_np_array(df, include_headers=False, dtype=None, logger=print):

In [78]:
# test df_to_np_array(df, include_headers=False, dtype=None, logger=print):
df= df_dtv_all_snb
np_dtv_all_snb = df_to_np_array(df, include_headers=False, dtype=None, logger=print)
np_dtv_all_snb

[CONVERT] DataFrame shape: (467, 18), dtype: float64

array([[4.5380e+04, 1.0000e+00, 2.5930e+02, ..., 7.3300e+01, 6.7000e+00,
        3.6000e+00],
       [4.5381e+04, 1.0000e+00, 2.5740e+02, ..., 7.3800e+01, 6.2000e+00,
        3.7000e+00],
       [4.5382e+04, 1.0000e+00, 2.5640e+02, ..., 7.3800e+01, 6.4000e+00,
        3.7000e+00],
       ...,
       [4.5856e+04, 1.0000e+00, 2.6070e+02, ..., 7.3500e+01, 5.2000e+00,
        3.2000e+00],
       [4.5857e+04, 1.0000e+00, 2.6070e+02, ..., 7.3200e+01, 6.7000e+00,
        3.1000e+00],
       [4.5858e+04, 1.0000e+00, 2.6200e+02, ..., 7.3400e+01, 5.6000e+00,
        3.2000e+00]])

In [59]:
def df_to_np(df):
    headers = df.columns.to_numpy()
    data = df.to_numpy()
    return headers,data

In [62]:
df= df_dtv_all_snb
headers,data = df_to_np(df)
headers, data
combined = np.vstack([headers, data.astype(str)])

#df_dtv_all_snb

### 3.4 Extract edit/update, preview, and commit a clone of snb data col back into the snb data col

In [35]:
### test def function to xl to df
filepath = "xl_dtv_all_snb.csv"             # this is version with snb for headers
df_dtv_all_snb = load_csv_to_df(filepath, index_col=None)
#df_dtv_all_snb.loc[2:,"b005"]

In [36]:
#Extract and preview commit a clone of snb data col

def clone_column(df, column_name, clone_suffix='_clone'):
    """Create a copy of a column for manual edits."""
    clone_name = f"{column_name}{clone_suffix}"
    df[clone_name] = df[column_name].copy()
    return df, clone_name

def preview_changes(df, original_col, clone_col, logger=print):
    """Compare original and clone, log differences."""
    changes = df[df[original_col] != df[clone_col]]
    if changes.empty:
        logger("[PREVIEW] No changes detected.")
    else:
        logger(f"[PREVIEW] {len(changes)} changes:")
        logger(changes[[original_col, clone_col]])
    return changes

def commit_changes(df, original_col, clone_col, logger=print):
    """Overwrite original column with clone after approval."""
    df[original_col] = df[clone_col]
    logger(f"[COMMIT] '{original_col}' overwritten with '{clone_col}' values.")
    return df

In [41]:
df = df_dtv_all_snb    # df  for test

# Step 1: Clone column   b003 for test
df, clone_col = clone_column(df, 'b003')
clone_col

'b003_clone'

In [44]:
# Step 2: Manual edits
df.loc[1, clone_col] = 115
df.loc[3, clone_col] = 125
df.loc[:,clone_col]

0      133.2
1      115.0
2      132.3
3      125.0
4      132.5
       ...
462    132.7
463    131.6
464    129.6
465    133.6
466    132.5
Name: b003_clone, Length: 467, dtype: float64

In [40]:
# Step 3: Preview changes
preview_changes(df, 'b003', clone_col)
preview_changes(df, 'b003', clone_col)

[PREVIEW] 2 changes:
    b003  b003_clone
1  131.4       115.0
3  129.4       125.0

,b000,b001,b002,b003,b004,b005,b006,b007,b008,b009,b010,b011,b012,b013,b014,b015,b016,b017,b003_clone
1,45381,1,257.4,131.4,78.7,52.7,47.0,79.1,178.4,98.3,30.7,0.401,0.400,2117,181.3,73.8,6.2,3.7,115.0
3,45383,1,256.6,129.4,77.8,51.6,46.5,80.7,175.9,97.2,31.4,0.399,0.399,2095,187.0,73.5,6.0,3.8,125.0

In [42]:
# Step 4: Commit if approved
commit_changes(df, 'b003', clone_col)

[COMMIT] 'b003' overwritten with 'b003_clone' values.

,b000,b001,b002,b003,b004,b005,b006,b007,b008,b009,b010,b011,b012,b013,b014,b015,b016,b017,b003_clone
0,45380,1,259.3,133.2,79.6,53.6,47.4,78.8,180.6,99.4,30.3,0.402,0.402,2140,176.5,73.3,6.7,3.6,133.2
1,45381,1,257.4,131.4,78.7,52.7,47.0,79.1,178.4,98.3,30.7,0.401,0.400,2117,181.3,73.8,6.2,3.7,131.4
2,45382,1,256.4,132.3,79.4,52.9,47.4,76.7,179.7,99.2,29.9,0.400,0.400,2130,175.2,73.8,6.4,3.7,132.3
3,45383,1,256.6,129.4,77.8,51.6,46.5,80.7,175.9,97.2,31.4,0.399,0.399,2095,187.0,73.5,6.0,3.8,129.4
4,45384,1,NaN,132.5,79.6,52.9,47.4,78.0,179.9,99.2,30.2,0.400,0.400,2133,180.0,73.8,6.2,3.7,132.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,45854,1,262.2,132.7,78.3,54.5,46.7,82.7,179.5,97.7,31.6,0.410,0.409,2127,185.0,73.7,4.8,3.2,132.7
463,45855,1,260.0,131.6,77.8,53.8,46.3,82.1,177.9,97.0,31.6,0.409,0.408,2113,184.7,73.7,5.4,3.2,131.6
464,45856,1,260.7,129.6,76.7,52.9,46.1,85.0,175.7,95.7,32.6,0.408,0.407,2091,192.5,73.5,5.2,3.2,129.6
465,45857,1,260.7,133.6,79.1,54.5,47.2,79.9,180.8,99.0,30.6,0.407,0.407,2142,181.6,73.2,6.7,3.1,133.6
466,45858,1,262.0,132.5,78.3,54.2,46.5,83.0,179.0,97.7,31.6,0.409,0.408,2125,183.5,73.4,5.6,3.2,132.5

### 3.5 trace the inheritance tree of an object later

In [48]:
def trace_inheritance(self):
    import inspect
    return [cls.__name__ for cls in inspect.getmro(self.__class__)]

### 3.6 Create a new ***snb***[data column]  ***init_snb*** later

### 3.5 df to xl   later

### 3.8 Function to Find Index by Column and String

***xl_fnct_mdls.csv***  for   **Help**
***extrct_fnct***  ==  extract a single ***"df_dtv_ubn_snb"*** from the ***df_dtv_all_ubn***
***extrct_df_wrk_ubn*** == use the ***extrct_fnct*** to extract ***df_wrk_ubns*** one by one to bld ***df_wrk_ubn**
***updt_funct***   == transfer the updates  from the ***df_wrk_ubn*** to the ***xl_dtv_all_ubn.csv***

In [ ]:
### df to np
def get_column_as_array(df, col_name):
    return df[col_name].to_numpy()

In [ ]:
### test def function df to np
df = df_dtv_all_snb
filepath = "xl_dtv_all_snr.csv"
def df.to_csv(filepath, index=False)
df_dtv_all_snb

### 3.7 Find items in df with spefic value

##### Also look at query to find matches

#### copilot pattern = def >> df_ind  Function to Find Index by Column and String
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

### call df_ind function
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'
idx = find_index_by_value(df_nms, "dn", "beta")
print("✅ Matching index:", idx)

### call df_ind function 
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'

#idx = find_index_by_value(df_nms, "dn", "beta")

print("✅ Matching index:", idx)

#### call  >>  find_index_by_value(df, col_name, target_str):

In [ ]:
#### applied version >> call find_index_by_value(df, col_name, target_str)
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

In [ ]:
#### call >> find_index_by_value(df, col_name, target_str) >> use assignment list to avoid confusion
df = df_nms                      
col_name = "dn"
target_str = "beta"
# Find index where 'dn' == 'beta'
idx = find_index_by_value(df, col_name, target_str)
print("✅ Matching index:", idx)

### 3.7.5 def Mapping Dicts <> *.get names from snb*

#### 4.1 Setting up matching dict functions for snb

In [ ]:
# Create the mapping dictionary
snb_to_name = dict(zip(df_dtv_all_snb.columns, df_dtv_all_snb_hdr.columns))

# Example: retrieve the name for a given snb
selected_snb = "b002"  # replace with your actual snb
corresponding_name = snb_to_name.get(selected_snb)

print(f"The name for {selected_snb} is: {corresponding_name}")

In [ ]:
# Create mappings
snb_to_name = dict(zip(df_dtv_all_snb.columns, df_dtv_all_snb_hdr.columns))
name_to_snb = dict(zip(df_dtv_all_snb_hdr.columns, df_dtv_all_snb.columns))

#### 4.2 Single lookup using mapping dictionaries

In [ ]:
# Single lookup
selected_snb = "b002"
selected_name = snb_to_name.get(selected_snb)

selected_name = "6. Weight"
corresponding_snb = name_to_snb.get(selected_name)

#### 4.3 ??Create mapping dictionaries]first is key, scnd is name]

##### 5.1 example snr vs name from pilot page
*https://copilot.microsoft.com/chats/RHdGn8EUxkZdd3d9MzpJR*

##### ***snb & names available for class studies*** 
*****snb: ......   df_dtv_all_snb*****

*****name: ....   df_dtv_all_snb_hdr*****

In [ ]:
# loading csv to df
# Load the CSV into a DataFrame
df_dtv_all_snb = pd.read_csv("xl_dtv_all_snb.csv")
df_dtv_all_snb_hdr = pd.read_csv("xl_dtv_all_snb_hdr.csv")
print(df_dtv_all_snb.columns)          
df_dtv_all_snb_hdr.columns        # snr header names

#### 3.7 def get.dict returns value of the specified key of the dictionary.

##### def snb_to_name(): # # afunction to get name

In [ ]:
# get.dict returns value of the specified key of the dictionary.
snb_to_name = dict(zip(df_dtv_all_snb.columns, df_dtv_all_snb_hdr.columns))

##### def name_to_snb():     # afunction to get snb

In [ ]:
# get.dict returns value of the specified key of the dictionary.
name_to_snb = dict(zip(df_dtv_all_snb_hdr.columns, df_dtv_all_snb.columns))

In [ ]:
# getting name 
name = snb_to_name.get("b005")
name

In [ ]:
# getting snb 
snb = name_to_snb.get("ECW")
snb

In [ ]:
# tested run batches https://copilot.microsoft.com/chats/RHdGn8EUxkZdd3d9MzpJR
# Batch snb → name
snb_list = ["b004", "b006","b005"]
names = [snb_to_name.get(snb, "Unknown SNB") for snb in snb_list]
names

In [ ]:
# tested run batches https://copilot.microsoft.com/chats/RHdGn8EUxkZdd3d9MzpJ
# Batch name → snb
name_list = ['ICW', '10. DLM (Dry Lean Mass)', 'ECW']
snb = [name_to_snb.get(name, "Unknown Name") for name in name_list]
snb

### 3.8 def Setup classes for "snb" as an example

#### 4.0 Perfect the strategy and techniques to leverage classes
***Set up classes to ***dat cols*** and ***grps*** so classes can be used to find data and to create ***grps for processing***

#### 4.1 Load xl_data for snb for setting up classes for snb

In [ ]:
# 4.1 loading csv to df
# Load the CSV into a DataFrame
df_dtv_all_snb = pd.read_csv("xl_dtv_all_snb.csv")  # snb as hdrs
df_dtv_all_snb_hdr = pd.read_csv("xl_dtv_all_snb_hdr.csv")  # snb as hdrs

#### 4.2 Define the Class Hierarchy

In [ ]:
#### 4.2 Define the Class Hierarchy
class HealthMngmt:
    def __init__(self, name):
        self.name = name

In [ ]:
#### 2. Define the LifeStyle Class  # super().__init__(snb)
class LifeStyle(HealthMngmt):
    def __init__(self,serial_number , name, data_series, d_type, parent):
        if not isinstance(data_series, pd.Series):
            raise TypeError("data_series must be a pandas Series")
        super().__init__(name)
        self.serial_number = serial_number
        self.data = data_series
        self.d_type = d_type
        self.length = len(data_series)
        self.parent = parent

    def count_nan(self):
        return self.data.isna().sum()           # counts "isna" 

    def average_value(self):                    
        return self.data.dropna().mean()

In [ ]:
#### 3. Define Parent Classes
class Supplements(LifeStyle):
   def __init__(self, serial_number, name, data_series, d_type):
        super().__init__(serial_number, name, data_series, d_type, parent="Supplements")

class Food(LifeStyle):
   def __init__(self, serial_number, name, data_series, d_type):
        super().__init__(serial_number, name, data_series, d_type, parent="Food")

In [ ]:
#### Specific Child
class CoQ10(Supplements):
    def __init__(self, serial_number, name, data_series, d_type):
        super().__init__(serial_number, name, data_series, d_type)

In [ ]:
#### 🧪 Example Usage
# Example Usage
coq10_obj = CoQ10(serial_number="b002", name="CoQ10", data_series=df_dtv_all_snb["b002"], d_type="float")
print("Average:", coq10_obj.average_value())

#### 4.3 type of variable

In [ ]:
#### type 
type(coq10_obj)

#### 4.4 basis =  child of

In [ ]:
#### basis =  means child of
Supplements.__bases__

In [ ]:

LifeStyle.__bases__

In [ ]:
HealthMngmt.__bases__

In [ ]:
type(coq10_obj).__bases__

#### 4.5 calc order of priority which is order of inheritance

In [ ]:
# calc order of priority which is orde of inheritance

inspect.getmro(type(coq10_obj))

#### 4.6 Help

In [ ]:
help(coq10_obj)

## 2.2 Functions to be proven and moved to a py module

#  =====================

# --------------Stop divider-----------------------

#  9.0 [not wrkng  or old junk]