# Loading mrn_mstr_dict

## Step 1 Load imports

In [60]:
import pandas as pd
from datetime import timedelta
import os

## Step 2 Read filename.csv and get col names

In [39]:
# def imprt_csl)filename) assumes in repo : reads csi file and creates df of the array using the file name ; it also creates a of the col heads in filename_heads
############################################################################
def df_repo_csv(filename):            # filename is str
    #df = "df_" + filename
    #hds = "hds" + filename
    #df = pd.read_csv()
    hds= pd.DataFrame(df.columns)
    return df
###############################
#filename = df_nm
#df,hds =

In [ ]:
filename = "JL_1\df_nm.csv"
#"\\wsl.localhost\Ubuntu\home\bhuns\JL_1\df_nm.csv"
"\\wsl.localhost\Ubuntu\home\bhuns\JL_1\df_nm.csv"
df = df_repo_csv(filename)

In [ ]:
   # Load the CSV file to use df(file_path)  to get clmn_nn [nickname]
file_path = "mrn_mstr_8_04.csv"    # name of the mrn_mstr file
############################################################################
df = pd.read_csv(file_path)
clmn_nn= pd.DataFrame(df.columns)

In [62]:
##########################  import os ???  ############################################
print("repo = ",os.getcwd())

def csv_df(file_path):
    df = pd.read_csv(file_path)
    clmn_nn= pd.DataFrame(df.columns)
    return df

repo =  /home/bhuns/JL_1

In [68]:
file = "df_nm"
file_path = file + ".csv"    # name of the mrn_mstr file
df = csv_df(file_path)
df_nm = df
df = df.columns
file_hds
df_nm

        dn         nn             pn
0   dn0001        BMR         asfasf
1   dn0002  EWC/TBWtr  EWC/TBWtr 102
2   dn0003        VFA            NaN
3   dn0004        NaN            NaN
4   dn0005        NaN            NaN
5   dn0006        NaN            NaN
6   dn0007        NaN            NaN
7   dn0008        NaN            NaN
8   dn0009        NaN            NaN
9   dn0010        NaN            NaN
10  dn0011        NaN            NaN
11  dn0012        NaN            NaN
12  dn0013        NaN            NaN
13  dn0014        NaN            NaN
14  dn0015        NaN            NaN
15  dn0016        NaN            NaN
16  dn0017        NaN            NaN
17  dn0018        NaN            NaN
18  dn0019        NaN            NaN
19  dn0020        NaN            NaN
20  dn0021        NaN            NaN
21  dn0022        NaN            NaN
22  dn0023        NaN            NaN
23  dn0024        NaN            NaN
24  dn0025        NaN            NaN
25  dn0026        NaN            NaN
26  dn0027        NaN            NaN
27  dn0028        NaN            NaN
28  dn0029        NaN            NaN
29  dn0030        NaN            NaN
30  dn0031        NaN            NaN
31  dn0032        NaN            NaN

### Proving file is read into df

In [26]:
# get the names of the first 30 cols
clmn_nn.iloc[:30]

                                 0
0                                *
1                         770Drow#
2                        bNght_Mrn
3                         <bMrnLst
4                         Column36
5                         Column34
6                         Column35
7                         <sMrnLst
8                           23-Feb
9                           DATE_V
10                               0
11                       6. Weight
12       7. TBW (Total Body Water)
13    8. ICW (Intracellular Water)
14    9. ECW (Extracellular Water)
15         10. DLM (Dry Lean Mass)
16         11. BFM (Body Fat Mass)
17        12. LBM (Lean Body Mass)
18  13. SMM (Skeletal Muscle Mass)
19       14. BMI (Body Mass Index)
20      15. PBF (Percent Body Fat)
21                     42. ECW/TBW
22        43. ECW/TBW of Right Arm
23         44. ECW/TBW of Left Arm
24               45. ECW/TBW Trunk
25        46. ECW/TBW of Right Leg
26         47. ECW/TBW of Left Leg
27            48. BFM of Right Arm
28           49. BFM% of Right Arm
29             50. BFM of Left Arm

In [8]:
# Get the name of the 24th column
nn = clmn_nn.iloc[24]
nn

0    45. ECW/TBW Trunk
Name: 24, dtype: object

In [24]:
# show a col with index col 24 of df [the array from the file made into a data frame]
df.iloc[:,24]                 # col 24 of df

0       0.387
1       0.387
2       0.385
3       0.387
4       0.388
        ...
1433    0.409
1434      NaN
1435      NaN
1436      NaN
1437      NaN
Name: 45. ECW/TBW Trunk, Length: 1438, dtype: float64

In [25]:
# Show creating a variable from cols example DATE_V
DATE_V = df.loc[:,"DATE_V"]
DATE_V

0       43893
1       43899
2       43890
3       43931
4       43932
        ...
1433    45873
1434      NaN
1435      NaN
1436      NaN
1437      NaN
Name: DATE_V, Length: 1438, dtype: object

In [21]:
# Create a list if the index of a df
df_ind = df.index
df_ind[10]

10

## df_ind (shld be df_ndx)  >> Function to Find Index by Column and String

#### copilot pattern = df_ind  Function to Find Index by Column and String

##### Also look at query to find matches

#### copilot pattern = def >> df_ind  Function to Find Index by Column and String
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

### call df_ind function
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'
idx = find_index_by_value(df_nms, "dn", "beta")
print("✅ Matching index:", idx)

### call df_ind function 
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'

#idx = find_index_by_value(df_nms, "dn", "beta")

print("✅ Matching index:", idx)

### applied version = df_ind  Function to Find Index by Column and String

#### applied version >> def find_index_by_value(df, col_name, target_str)

In [35]:
#### applied version >> call find_index_by_value(df, col_name, target_str)
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

#### applied version >> call  >>  find_index_by_value(df, col_name, target_str): use assignment list

In [37]:
#### call >> find_index_by_value(df, col_name, target_str) >> use assignment list to avoid confusion
df = df_nms                      
col_name = "dn"
target_str = "beta"
# Find index where 'dn' == 'beta'
idx = find_index_by_value(df, col_name, target_str)
print("✅ Matching index:", idx)

✅ Matching index: [102]

In [48]:
import os
print(os.getcwd())

/home/bhuns/JL_1

In [49]:
import os
print(os.listdir())

['Untitled1.ipynb', '1ratlabs_toc.ipynb', 'Sandbox_load.ipynb', 'O2plot 2025.07.26.csv', 'SBblend_addinto_mstr.ipynb', 'new_file.xlsx', 'F_my_utils.py', 'dt_clms.csv', 'L_medical.ipynb', 'xl_uti.xlsx', 'xl_bn.xlsx', 'F_new_xl_df_frm_copilot.ipynb', 'step_by_step_csv.ipynb', 'New folder', 'ztestfile', 'Book1.xlsx', 'jrnl_v1.ipynb', 'F_input_def_sb.ipynb', 'xl_tbl.xlsx', 'Untitled.ipynb', 'step_by_step_csv-Copy2.ipynb', '__pycache__', 'copilot_fnctns_folder', 'DATE_V_UTI.xlsx', 'bn_frst_pt.xlsx', 'dt_clms_log.xlsx', '.git', 'mrn_mstr_8_04.csv', 'dist_dt_clm.ipynb', 'df_nm.csv', 'xl_clmns_log - Copy.xlsx:Zone.Identifier', 'step_by_step_csv-Copy1.ipynb', 'New Microsoft Excel Worksheet.xlsx', '1RatLabs.ipynb', 'csv_sys_fnct.ipynb', 'xl_tbl wait.xlsx', '.gitignore', 'L_JL_Hlp.ipynb', '1RatLabsv3.ipynb', 'name_nn.xlsx', 'name_nn.csv', 'sys_util', 'xl_inbody_log.xlsx', 'JL_z_files', 'F_my_fnctn_tst.ipynb', 'step_by_step_csv-Copy3.ipynb', 'L_Quotes.ipynb', 'L_WSL_JL_hlp.ipynb', '.ipynb_checkpoints', '1RatLabsv2.ipynb']