# Developing ".csv" Data Storage SYS

## Step 1 Load imports of extensions

In [21]:
import pandas as pd
from datetime import timedelta
import os


# <br><br> to skip 2 lines

# Data Storage Sys using .csv in XL Discription

## Nomentclature with Descriptions

### ***** Data_Storage_Sys_name overview and relationships *****

#### Defining ***data storage in .csv*** and  ***Nomenclature***

1. Defining ***data storage in .csv***
2. ***dtv*** is the ***d***a***t***e ***v***alue of the data entry; it is an integer count of the number of days since 1/1/1900. Last ***dtv*** is ***today*** and it is kept  current at ***startup*** with the ***imports***.
3. ***dtv*** is stored and kept current in ***df_dtv***  &  ***xl_dtv.csv*** 
2. ***ubn*** is the ***u***nique ***b***asic ***n***ame for the **data col proberties list**. type of data.
3. ***ubn*** has attirbutes like name & length and methods like making 
4. attribute1: ***a daily data log array**
5. Each data col is given a serial number ***snb***
6. Each ***snb*** is a member of the ubn(snr) class
7. ***snb*** becomes the data col name
8. ***ubn***acts very much like a specialized class()]
9.  **snr*** being an object that belongs to that class.]
10. ??

11. All the
12. 
13. data cols are stored in the ***df_dtv_all_snb*** and stored in the ***xl_dtv_all_snb.csv*** file.
14. The ***ubn***   **name** is stored in the ***df_snb_md**  [***xl_snb_md.csv***]

#### Serial numbers for ubn, cvs, grp

1. ***ubn*** is the unique basic name that stands for any data col where the ***smb*** stands for a single indiviual data col.
2.  ***_snb*** is a serial number ***_snb*** relates 1 for 1 to the ***ubn*** .(it has the form of (***b000***)
6.  It is stored in the index col1 of a ***df_snb_md*** [***md*** stands for ***m***edia***d***ata]. This df contains more cols that include other media data unique to ***snb*** 
3. ***_snc*** is a serial number that stands for a **class name** (it has the form of a **c000** )
4. ***ubn = df_snb_md.loc["snb","1"]***
5. ***cls_nm=df_snb_md.loc["snc","2"]***
6. ***_sng*** is a serial number for an  individual ***grp_nm*** (it has the form of a **g000** )
7. ***grp_nm = df_snb_md.loc["sng","3"]**
8.  The serial numbers are created at the time the ***snb*** is first entered into the system as part ***init_snb*** process*.

#### DATE_V +

1. ***"df_dtv_snb"*** is the list for all dates over the entire ***dvt*** range for a single r ***snb***.
8. The *dataframe* that holds all of the ***snb***s is ***"df_dtv_all_snb"***
9. All data is stored ***.csv files*** in excell and the filename is prefixed with **xl_** for e***x***ce***l*** = is ***"xl_dtv_all_snb.csv"***
6. A ***"df_dtv_snb"*** can be extracted from ***"df_dtv_all_snb"*** using the ***"extrct_fnct"***

#### Creating grps

 ________________ Creating and using grps __________________________________________
1. Every ***data_col*** is a *list of data* with a name (***ubn***) and a serial number(***snb***). For simplicity and uniqueness ***ubn*** s are tracked with ***snb***s.
2. Much of the *data entry* and *processing* involve only a group of a few ***snb***
3. There are many processes and groups and they are tracked by serial numbers ***sng***s.
4. A df named ***df_full_sng_snb'*** records which ***snb*** will be include in each ***sng***(serial number group)
1. Since ***snb*** can be found in more than one group, we need create an array with all ***sng***s as **row**s and all ***snb***s as **col**s.
14. The dataframe made from this array is ***df_full_sng_snb'***
15. When created the ***df_full_sng_snb'***, has all values of **NAN** and then any array_item that is in the ***snb*** column and in the ***sng*** row with a **true**
1. The grp adjustments are only required when ***data type or process*** changes
1. To place an ***snb*** into a ***sng*** , individually set ***df_grp_sng.loc***[***"sng"***,***"snb"***] = **true**(or False to remove it)

#### Using grps

1.  Each time a process is initiated, it needs to build a ***df*** to hold all the required ***snb*** cols of data.
11. That required group of ***snb*** data cols needed for the task is read from***df_full_sng_snb'***. ....    *# array with all sng and snb combinationss*
12. ***sng_grp_lst*** = ***sng_grp_lst_mkr(sng):*** ,,,,, *# this is a functon decribed on next line*
1. def ***sng_grp_lst_mkr(sng)*** ;loop ***df_all_grp_snb[sng,:]*** [go to row ***sng***] then loop through all ***snb*** and amend  ***snb*** if the array iten is marked **true** for this ***sng*** row then return ***snb_grp_lst*** for that ***sng***.

#### The ***"df_dtf_wrk_snb"*** is a Temporary Dataframe for a Process

1. This **df** is called ****df_dtf_wrk_snb***  ..... *# it is a temporary df in that is used for a single process and then abandoned when processing is completed*
11.  The ***"df_dtf_wrk_snb"*** is a ***df*** consisting f a ***"dtv"*** index and the first ***snb*** in the ***snb_grp_lst*** 
12. Then it goes through the list and appends that ***snb*** data col

#### Working with classes

##### The snb use of classes

1. Each ***snb*** will have 1 or more classes.
2. Each individual class is given a serial number ***snc***
3. The **cls_nm** will **attribute:1** of the ***snc***
4. Each ***snc*** is shared by many ***snb***s
5. Each ***snn*** is shared by many ***snc***s
6. A **df** named ***"df_snb_snc"*** is used to specify the pairing.
7. ***"df_snb_snc"*** is a **df** that has ***snb*** for rows and ***snc*** for cols.
8. ***"df_snb_snc"*** will have all **items** set to NAN to start.
9. **True** is inserted in ***items*** at a ***snb,snc*** intersection]
10. Then every time an ***snb*** row has a **true** in it that indicates col head ***snc** is used by that ***bnc***
11. ***snc.name*** is used to retrieve the ***snc name*** [1st attrbt of each ***snc***]
12. ***df_snb,snc*** is stored in a file ***"xl_snb,snc.csv"***
13. The class **c**lass **a**ttributes and **m**ethods (***cam***s)  are defined by a ***df_cam_smc*** and filed in ***xl_cam_smc.csv***
14. The **c**lass **a**ttributes and **m**ethods (***cam***s) are stored in rows while ***snc*** are the column heads.
15. To assugn a class to

# Temp Hold that will need to be erase 
7. ***"df_dtv_snb"*** is the ***df**** containing the list of snb's data along with a ***"dtv"*** index col. the ***_snb*** is the serial number of the data col.

### Names of dataframes and csv files

***Utilities --------------------------***

***df_dtv***  ==   **df of only a complete up to date dtv**

***df_files***   ==   **df of list of all .csv files**

***xl_files.csv***   ==   **file of list of all .csv files**

***init loading of structure ------------------***

***df_snb*** == **df with ***snb*** indexed and cols for ***snc***, ***sng*** & other media.

***df_dtv***  ==   **df of only a complete up to date dtv**

***xl_dtv.csv***  ==   **file of only a complete up to date dtv**

***df_snb***  ==  given   ***snb*** lookup ***snb***__ *index is ***snb***,_  ***snc***,_ ***sng*** __[col0 ***snb***,_col1  and _col2 ***snc*** and  _col3 ***sng***  *_[group list [1 snr may be in mltpl sng]*

***ubn[snb]*** = *df_snb_md.iloc*["***snb"***,"***ubn***"]  [find name from serial number]

***xl_df_snb.csv***  ==  given   ***snb*** lookup ***ubn***__ * ubn*,_  ***snc***,_ ***sng*** __[col0 ***snb***,_col1  and _col2 ***snc*** and  _col3 ***sng***  *_[group list [1 snr may be in mltpl sng]*
***Use*** == find the name ***ubn*** from ***snb***

***xl_ubn_cls.csv*** ==   **file of lookup "cls"[name] for a "snb" : cols "snb" [index] & col2 "snc"**
***df_dtv_snb***   ==   **df of single data col "snb"**
***xl_dtv_snb***   ==   **xl of single data col "snb"**

***xl_dtv_all_snbn.csv*** 



***xl_all_grp_snbn.csv***._____

## Create a new ***snb***[data column]  ***init_snb***

### Put the ***snb*** in the sytem requires following steps

### Abbreviations

***ubn***  ==    unique basic name for single data type[1 data type col].

***cls***    == a list of ***attrbts***, ***mthds*** and  that are part of a common process.

***grp***    == a list of ***ubn*** that are part of a common process.

***snc***  ==    unique serial number assgned to every ***cls***

***dtv***   ==   DATE_V _____ the index col in all log dataframes.

***df_snb_ubn*** == lookup table for name from serial number ***snb***

***"dtv_snb"***  ==  A dataframe for a single data col with snb as the coluumn head

***dtv_all_snb***     ==  A dataframe for all_types_data cols with snb as the coluumn head

***df_wrk_ubn*** ==  Group of ***df_dtv_ubn*** extracted to use in processing _____

***Serial numbers----------------------------------------------------------***

***"sng"***  == the serial number of a group that holds the list of  ***snb's*** chosen for this process *[unique serial number assgned to every ***grp***]* but *[1 ***snb*** *can be  in many groups]*

***_snb***   ==    unique basic name serial number that is assigned when a new ***ubn*** is assind

***_snc***   ==  is the serial number of a given class. The snc will be applied to many ***bnr*** but is unique for each class name and is calculated on the basis of parenting level: grandfather 1 and grand child is 5. Each ***ubn*** will be assigned an appropriate snc when is initiated.

## Implementation example:

## Step by Step Process to perform processing on one or more data lists

### Load data from an ***xl_dtv_ubn_all.csv*** file to a ***df_dtv_ubn_all*** dataframe in python worksheet

1. load arrays from xl to dfs in a workbook

### Extract a ***df_wrk_ubn*** datframe fro specific cols from ***df_dtv_all_ubn***

1. create new **df_wrk_ubn*** with ***dtv***.
2. for ***snb*** in ***grp_gn***.
3. use the ***extrct_fnct*** to copy ***"dtv_ubn_snb"*** from ***dtv_all_ubn*** and
4. amend it to ***df_wrk_ubn***

### Make a list of planned columneupdates to ***df_wrk_ubn*** with any process

### select a ***grp_gn*** that contains of the ***dtv_ubn*** that you need to update ***grp_gn*** make Modifications to ***df_wrk_ubn***

15. To start a process build the  LOOP-----------------------
15. A list of ***grp_gn*** that will be specified in cycle ***grp_gn*** loop.
16. Then start the loop specifying each of the

### Update   ***df_dtv_all_ubn***  from ***df_wrk_ubn***

15. After processing is completed on the ***df_wrk_ubn*** , the ***updt_funct*** is used to transfer the updates from the ***df_wrk_ubn*** to the ***df_dtv_all_ubn*** 
16. ------------------ LOOP END -------------------------------
17. This extraction, processing, and updating is repeated for every group apecified.

## Functions to be proven and moved to a py module

***xl_fnct_mdls.csv***  for   **Help**
***extrct_fnct***  ==  extract a single ***"df_dtv_ubn_snb"*** from the ***df_dtv_all_ubn***
***extrct_df_wrk_ubn*** == use the ***extrct_fnct*** to extract ***df_wrk_ubns*** one by one to bld ***df_wrk_ubn**
***updt_funct***   == transfer the updates  from the ***df_wrk_ubn*** to the ***xl_dtv_all_ubn.csv***

### def imprt_csv): assumes in repo : 
1. filename = ada_dict.csv
2. reads csi file(file name)
2. creates df of the array using the file name ; it also creates a of the col heads in filename_heads


############################################################################
def df_repo_csv(filename):            # filename is str
    hds= pd.DataFrame(df.columns)
    return 
###############################
    df_nm
#df,hds =

In [2]:
import os

filename = "df_nm"
# file_path = os.path.join("JL_1", filename + ".csv")
file_path = os.path.join(filename + ".csv")

file_path

'df_nm.csv'

In [3]:

df = pd.read_csv(file_path)

df

,date_value,mrn=1,6. Weight,7. TBW (Total Body Water),ICW,ECW,10. DLM (Dry Lean Mass),BFM,12. LBM (Lean Body Mass),13. SMM (Skeletal Muscle Mass),15. PBF (Percent Body Fat),42. ECW/TBW,45. ECW/TBW of Trunk,61. BMR (Basal Metabolic Rate),63. VFA (Visceral Fat Area),65. TBW/LBM,113. 50kHz-TR Phase Angle,115. 50kHz-LL Phase Angle
0,45380,1,259.3,133.2,79.6,53.6,47.4,78.8,180.6,99.4,30.3,0.402,0.402,2140,176.5,73.3,6.7,3.6
1,45381,1,257.4,131.4,78.7,52.7,47.0,79.1,178.4,98.3,30.7,0.401,0.400,2117,181.3,73.8,6.2,3.7
2,45382,1,289.0,132.3,79.4,52.9,47.4,76.7,179.7,99.2,29.9,0.400,0.400,2130,175.2,73.8,6.4,3.7
3,45383,1,256.6,129.4,77.8,51.6,46.5,80.7,175.9,97.2,31.4,0.399,0.399,2095,187.0,73.5,6.0,3.8
4,45384,1,257.9,132.5,79.6,52.9,47.4,78.0,179.9,99.2,30.2,0.400,0.400,2133,180.0,73.8,6.2,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,45870,1,261.9,132.9,78.5,54.5,46.7,82.2,179.7,97.9,31.4,0.410,0.409,2130,180.6,73.5,5.5,3.2
479,45871,1,261.0,131.8,77.8,54.0,46.3,82.9,178.1,97.0,31.7,0.411,0.409,2116,181.8,73.5,5.1,3.2
480,45872,1,260.2,131.6,77.6,54.0,46.1,82.5,177.7,96.8,31.7,0.410,0.409,2111,182.7,73.7,5.3,3.1
481,45873,1,261.6,133.2,78.5,54.7,47.0,81.5,180.1,97.9,31.2,0.410,0.409,2134,179.5,73.6,5.1,3.2
482,45874,1,261.8,135.4,79.8,55.6,47.4,79.0,182.8,99.7,30.1,0.411,0.409,2162,172.6,73.6,6.2,3.2

In [4]:
df = pd.read_csv("df_nm.csv")

df

,date_value,mrn=1,6. Weight,7. TBW (Total Body Water),ICW,ECW,10. DLM (Dry Lean Mass),BFM,12. LBM (Lean Body Mass),13. SMM (Skeletal Muscle Mass),15. PBF (Percent Body Fat),42. ECW/TBW,45. ECW/TBW of Trunk,61. BMR (Basal Metabolic Rate),63. VFA (Visceral Fat Area),65. TBW/LBM,113. 50kHz-TR Phase Angle,115. 50kHz-LL Phase Angle
0,45380,1,259.3,133.2,79.6,53.6,47.4,78.8,180.6,99.4,30.3,0.402,0.402,2140,176.5,73.3,6.7,3.6
1,45381,1,257.4,131.4,78.7,52.7,47.0,79.1,178.4,98.3,30.7,0.401,0.400,2117,181.3,73.8,6.2,3.7
2,45382,1,289.0,132.3,79.4,52.9,47.4,76.7,179.7,99.2,29.9,0.400,0.400,2130,175.2,73.8,6.4,3.7
3,45383,1,256.6,129.4,77.8,51.6,46.5,80.7,175.9,97.2,31.4,0.399,0.399,2095,187.0,73.5,6.0,3.8
4,45384,1,257.9,132.5,79.6,52.9,47.4,78.0,179.9,99.2,30.2,0.400,0.400,2133,180.0,73.8,6.2,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,45870,1,261.9,132.9,78.5,54.5,46.7,82.2,179.7,97.9,31.4,0.410,0.409,2130,180.6,73.5,5.5,3.2
479,45871,1,261.0,131.8,77.8,54.0,46.3,82.9,178.1,97.0,31.7,0.411,0.409,2116,181.8,73.5,5.1,3.2
480,45872,1,260.2,131.6,77.6,54.0,46.1,82.5,177.7,96.8,31.7,0.410,0.409,2111,182.7,73.7,5.3,3.1
481,45873,1,261.6,133.2,78.5,54.7,47.0,81.5,180.1,97.9,31.2,0.410,0.409,2134,179.5,73.6,5.1,3.2
482,45874,1,261.8,135.4,79.8,55.6,47.4,79.0,182.8,99.7,30.1,0.411,0.409,2162,172.6,73.6,6.2,3.2

In [5]:

df = pd.read_csv("/home/bhuns/JL_1/df_nm.csv")

df

,date_value,mrn=1,6. Weight,7. TBW (Total Body Water),ICW,ECW,10. DLM (Dry Lean Mass),BFM,12. LBM (Lean Body Mass),13. SMM (Skeletal Muscle Mass),15. PBF (Percent Body Fat),42. ECW/TBW,45. ECW/TBW of Trunk,61. BMR (Basal Metabolic Rate),63. VFA (Visceral Fat Area),65. TBW/LBM,113. 50kHz-TR Phase Angle,115. 50kHz-LL Phase Angle
0,45380,1,259.3,133.2,79.6,53.6,47.4,78.8,180.6,99.4,30.3,0.402,0.402,2140,176.5,73.3,6.7,3.6
1,45381,1,257.4,131.4,78.7,52.7,47.0,79.1,178.4,98.3,30.7,0.401,0.400,2117,181.3,73.8,6.2,3.7
2,45382,1,289.0,132.3,79.4,52.9,47.4,76.7,179.7,99.2,29.9,0.400,0.400,2130,175.2,73.8,6.4,3.7
3,45383,1,256.6,129.4,77.8,51.6,46.5,80.7,175.9,97.2,31.4,0.399,0.399,2095,187.0,73.5,6.0,3.8
4,45384,1,257.9,132.5,79.6,52.9,47.4,78.0,179.9,99.2,30.2,0.400,0.400,2133,180.0,73.8,6.2,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,45870,1,261.9,132.9,78.5,54.5,46.7,82.2,179.7,97.9,31.4,0.410,0.409,2130,180.6,73.5,5.5,3.2
479,45871,1,261.0,131.8,77.8,54.0,46.3,82.9,178.1,97.0,31.7,0.411,0.409,2116,181.8,73.5,5.1,3.2
480,45872,1,260.2,131.6,77.6,54.0,46.1,82.5,177.7,96.8,31.7,0.410,0.409,2111,182.7,73.7,5.3,3.1
481,45873,1,261.6,133.2,78.5,54.7,47.0,81.5,180.1,97.9,31.2,0.410,0.409,2134,179.5,73.6,5.1,3.2
482,45874,1,261.8,135.4,79.8,55.6,47.4,79.0,182.8,99.7,30.1,0.411,0.409,2162,172.6,73.6,6.2,3.2

In [6]:
print("Current working directory:", os.getcwd())

Current working directory: /home/bhuns/JL_1

In [7]:
import os

filename = "df_nm.csv"
folder = "JL_1"
path = os.path.join(os.getcwd(), folder, filename)

print(path)  # Confirm full path

/home/bhuns/JL_1/JL_1/df_nm.csv

In [8]:
import os

print(os.getcwd())  # Shows your current working directory
print(os.listdir("JL_1"))  # Lists files in the JL_1 subfolder

/home/bhuns/JL_1

FileNotFoundError: [Errno 2] No such file or directory: 'JL_1'

In [9]:
filename = pd.read_csv(file_path)
filename = pd.DataFrame(df.columns)
file_hds

NameError: name 'file_hds' is not defined

In [10]:
   # Load the CSV file to use df(file_path)  to get clmn_nn [nickname]
file_path = "mrn_mstr_8_04.csv"    # name of the mrn_mstr file
############################################################################
df = pd.read_csv(file_path)
clmn_nn= pd.DataFrame(df.columns)
file_hds

NameError: name 'file_hds' is not defined

### Step 2 Read filename.csv and get col names

### Reading the file from .csv

In [11]:
##########################  import os ???  ############################################
print("repo = ",os.getcwd())

def csv_df(file_path):
    df = pd.read_csv(file_path)
    clmn_nn= pd.DataFrame(df.columns)
    return df

repo =  /home/bhuns/JL_1

In [12]:
file = "df_nm"
file_path = file + ".csv"    # name of the mrn_mstr file
df = csv_df(file_path)
df_nm = df
file_hds = df.columns
file_hds
print(file_hds)
df_nm

Index(['date_value', 'mrn=1', '6. Weight', '7. TBW (Total Body Water)', 'ICW',
       'ECW', '10. DLM (Dry Lean Mass)', 'BFM', '12. LBM (Lean Body Mass)',
       '13. SMM (Skeletal Muscle Mass)', '15. PBF (Percent Body Fat)',
       ' 42. ECW/TBW', '45. ECW/TBW of Trunk',
       '61. BMR (Basal Metabolic Rate)', '63. VFA (Visceral Fat Area)',
       '65. TBW/LBM', '113. 50kHz-TR Phase Angle',
       '115. 50kHz-LL Phase Angle'],
      dtype='object')

,date_value,mrn=1,6. Weight,7. TBW (Total Body Water),ICW,ECW,10. DLM (Dry Lean Mass),BFM,12. LBM (Lean Body Mass),13. SMM (Skeletal Muscle Mass),15. PBF (Percent Body Fat),42. ECW/TBW,45. ECW/TBW of Trunk,61. BMR (Basal Metabolic Rate),63. VFA (Visceral Fat Area),65. TBW/LBM,113. 50kHz-TR Phase Angle,115. 50kHz-LL Phase Angle
0,45380,1,259.3,133.2,79.6,53.6,47.4,78.8,180.6,99.4,30.3,0.402,0.402,2140,176.5,73.3,6.7,3.6
1,45381,1,257.4,131.4,78.7,52.7,47.0,79.1,178.4,98.3,30.7,0.401,0.400,2117,181.3,73.8,6.2,3.7
2,45382,1,289.0,132.3,79.4,52.9,47.4,76.7,179.7,99.2,29.9,0.400,0.400,2130,175.2,73.8,6.4,3.7
3,45383,1,256.6,129.4,77.8,51.6,46.5,80.7,175.9,97.2,31.4,0.399,0.399,2095,187.0,73.5,6.0,3.8
4,45384,1,257.9,132.5,79.6,52.9,47.4,78.0,179.9,99.2,30.2,0.400,0.400,2133,180.0,73.8,6.2,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,45870,1,261.9,132.9,78.5,54.5,46.7,82.2,179.7,97.9,31.4,0.410,0.409,2130,180.6,73.5,5.5,3.2
479,45871,1,261.0,131.8,77.8,54.0,46.3,82.9,178.1,97.0,31.7,0.411,0.409,2116,181.8,73.5,5.1,3.2
480,45872,1,260.2,131.6,77.6,54.0,46.1,82.5,177.7,96.8,31.7,0.410,0.409,2111,182.7,73.7,5.3,3.1
481,45873,1,261.6,133.2,78.5,54.7,47.0,81.5,180.1,97.9,31.2,0.410,0.409,2134,179.5,73.6,5.1,3.2
482,45874,1,261.8,135.4,79.8,55.6,47.4,79.0,182.8,99.7,30.1,0.411,0.409,2162,172.6,73.6,6.2,3.2

### Proving file is read into df

In [13]:
# get the names of the first 30 cols
clmn_nn.iloc[:30]

                                 0
0                                *
1                         770Drow#
2                        bNght_Mrn
3                         <bMrnLst
4                         Column36
5                         Column34
6                         Column35
7                         <sMrnLst
8                           23-Feb
9                           DATE_V
10                               0
11                       6. Weight
12       7. TBW (Total Body Water)
13    8. ICW (Intracellular Water)
14    9. ECW (Extracellular Water)
15         10. DLM (Dry Lean Mass)
16         11. BFM (Body Fat Mass)
17        12. LBM (Lean Body Mass)
18  13. SMM (Skeletal Muscle Mass)
19       14. BMI (Body Mass Index)
20      15. PBF (Percent Body Fat)
21                     42. ECW/TBW
22        43. ECW/TBW of Right Arm
23         44. ECW/TBW of Left Arm
24               45. ECW/TBW Trunk
25        46. ECW/TBW of Right Leg
26         47. ECW/TBW of Left Leg
27            48. BFM of Right Arm
28           49. BFM% of Right Arm
29             50. BFM of Left Arm

In [14]:
# Get the name of the 24th column
nn = clmn_nn.iloc[24]
nn

0    45. ECW/TBW Trunk
Name: 24, dtype: object

In [15]:
# show a col with index col 24 of df [the array from the file made into a data frame]
df.iloc[:,24]                 # col 24 of df

IndexError: single positional indexer is out-of-bounds

In [16]:
# Show creating a variable from cols example DATE_V
DATE_V = df.loc[:,"DATE_V"]
DATE_V

KeyError: 'DATE_V'

In [ ]:
# Create a list if the index of a df
df_ind = df.index
df_ind[10]

##trial Function to Find Index by Column and String

***df_ind (shld be df_ndx)***

#### copilot pattern = df_ind  Function to Find Index by Column and String

##### Also look at query to find matches

#### copilot pattern = def >> df_ind  Function to Find Index by Column and String
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

### call df_ind function
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'
idx = find_index_by_value(df_nms, "dn", "beta")
print("✅ Matching index:", idx)

### call df_ind function 
# Sample DataFrame
import pandas as pd

df_nms = pd.DataFrame({
    "DATE_V": ["2025-08-01", "2025-08-02", "2025-08-03"],
    "dn": ["alpha", "beta", "gamma"],
    "nn": ["x1", "x2", "x3"],
    "pn": ["p1", "p2", "p3"]
}, index=[101, 102, 103])

# Find index where 'dn' == 'beta'

#idx = find_index_by_value(df_nms, "dn", "beta")

print("✅ Matching index:", idx)

### applied version = df_ind  Function to Find Index by Column and String

In [17]:
#### applied version >> call find_index_by_value(df, col_name, target_str)
def find_index_by_value(df, col_name, target_str):
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in DataFrame.")
    
    matches = df[df[col_name] == target_str]
    
    if matches.empty:
        print(f"❌ No match found for '{target_str}' in column '{col_name}'.")
        return None
    
    return matches.index.tolist()

#### call  >>  find_index_by_value(df, col_name, target_str):

In [18]:
#### call >> find_index_by_value(df, col_name, target_str) >> use assignment list to avoid confusion
df = df_nms                      
col_name = "dn"
target_str = "beta"
# Find index where 'dn' == 'beta'
idx = find_index_by_value(df, col_name, target_str)
print("✅ Matching index:", idx)

NameError: name 'df_nms' is not defined

# next

In [19]:
## find a name for a dictionary

### Find ***ubn = df_snb_ubn.iloc[snb]       by entering df_snb_ubn                            ******  **indexed on snb**

1. Read the real name from the serial nmber ***df_snb_ubn from xl_snb_ubn***                                    *row is snb & col is ubn*

In [20]:
2.

2.0