# Readme 
### xl_xf_xl_py.ipynb :  holds .py functions"
### *"_tbl"*  is varable for .py functions sync *xl_tbl* to *df_tbl* 
#### ----- xl file name = ??_tbl       &      
#### ----- df name      = ??_tbl
### *script:* df_tbl = xlsync.load_df_with_formulas("xl_tbl.xlsx", "xl_tbl")
### *--- update using df_tbl ---*
### *script:* xlsync.write_df_with_formulas(df_tbl, "xl_tbl.xlsx", "xl_tbl", "xl_tbl")

# Import functions and load "_tbl" prefix

In [1]:
import xl_formula_sync as xlsync
xl_tbl = "xl_tbl"   # set to name of xl table being processed
df_tbl = "df_tbl"   # set to name of df table being processed

# Create *.py function call* **scripts**
### READ FROM XL
#### df_tbl = xlsync.load_df_with_formulas("xl_tbl.xlsx", "xl_tbl")
### WRITE DF_TBL TO XL_TBL
#### xlsync.write_df_with_formulas(df_tbl, "xl_tbl.xlsx", "xl_tbl", "xl_tbl")

# Call functions to execute proceases

In [2]:
df_tbl = xlsync.load_df_with_formulas(xl_tbl + ".xlsx", xl_tbl)

# Modify df_tbl

In [3]:
#df_tbl.iloc[0,0] = "bill" # verify

In [4]:
print(df_tbl.iloc[0]) # verif

dt_clms or grp                                            lifestyle
dt_clms_id        ==xl_tbl[[#This Row],[Cls1]]&xl_tbl[[#This Row...
lvl                            ==LEN(B2)-LEN(SUBSTITUTE(B2,".",""))
Cls1                                                             .1
Cls2                                                             .0
Cls3                                                           None
Cls4                                                           None
grp_data                                                        grp
parent1_nm                                                    focus
parent2_nm                                                        _
parent3_nm                                                     None
parent4_nm                                                     None
Input_typ_freq                                                 None
dt_clms_nm                   ==xl_tbl[[#This Row],[dt_clms or grp]]
50573                                                          None
50574                                                          None
50575                                                          None
0                                                              bill
Name: 0, dtype: object

# Call function to write the update to xl_tbl in xl_tbl.xlxs

In [5]:
xlsync.write_df_with_formulas(df_tbl, "xl_tbl.xlsx", "xl_tbl", "xl_tbl")
print("wrote df_tbl to xl_tbl")

wrote df_tbl to xl_tbl